<!DOCTYPE html>
<html lang="pl">
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/styl.css' />
		<script src="/socket.io/socket.io.js"></script>
	    <script src='jquery/dist/jquery.min.js'></script>
	    <script src='/js/def.js'></script>
	    <script src='/js/dane.js'></script>
	    <script src='/js/gra.js'></script>
	</head>
	<body>

		<canvas id="game" type="<%= type %>" name="<%= user %>"></canvas>
		<div id="wybor">
			<span id="wybor0"><img style="display: none"/></span>
			<span id="wybor1"><img style="display: none"/></span>
			<span id="wybor2"><img style="display: none"/></span>
			<span id="wybor3"><img style="display: none"/></span>
		</div>
		<div id="planeta">
			<img></img>
			<br/>
			Size: <div id="wielkosc"></div> mln km <br/>
			Elements: <div id="doWykopania"></div>
			Extraction attempts: <div id="proby"></div>
		</div>
		<div id="upgrade">
			<div id="surowce">
			Owned materials:<br/>
				<img src="/img/surowce/zelazo.jpg"/> Iron: <span id="zelazo"></span>
				<img src="/img/surowce/grafit.jpg"/> Graphite: <span id="wegiel"></span>
				<img src="/img/surowce/pluton.jpg"/> Plutonium: <span id="pluton"></span>
				<img src="/img/surowce/aluminium.jpg"/> Aluminum: <span id="aluminium"></span>
			</div>
			<div id="silniki">
				Actual drive: <div id="aktualnySilnik"><img src="/img/GUI/none.png"/></div>
				<br/>Possible upgrades:<br/>
				<span id="słaby spalinowy"><img src="/img/silniki/spalinowy.png"/></span>
				<span id="spalinowy"><img src="/img/silniki/spalinowy2.png"/></span>
				<span id="impulsowy"><img src="/img/silniki/impulsowy.png"/></span>
				<span id="nadprzestrzenny"><img src="/img/silniki/nadprzestrzenny.png"/></span>
			</div>
			<div id="bronie">
				Owned weapons: <div id="posiadaneBronie"><img src="/img/GUI/none.png"/></div>
				<br/>Possible upgrades:<br/>
				<span id="minigun"><img src="/img/bronie/minigun.png"/></span>
				<span id="laser"><img src="/img/bronie/laser.png"/></span>
				<span id="gauss"><img src="/img/bronie/gauss.png"/></span>
				<span id="rocket"><img src="/img/bronie/wyrzutnia.png"/></span>
			</div>
			<div id="pancerze">
				Actual armor: <div id="aktualnyPancerz"><img src="/img/GUI/none.png"/></div>
				<br/>Possible upgrades:<br/>
				<span id="lekki"><img src="/img/pancerze/light.png"/></span>
				<span id="ciezki"><img src="/img/pancerze/heavy.png"/></span>
			</div>
			<div id="magazyny">
				Actual depot: <div id="aktualnyMagazyn"><img src="/img/GUI/none.png"/></div>
				<br/>Possible upgrades:<br/>
				<span id="maly"><img src="/img/magazyny/small.png"/></span>
				<span id="sredni"><img src="/img/magazyny/avarage.png"/></span>
				<span id="duzy"><img src="/img/magazyny/big.png"/></span>
			</div>
			<div id="extrudery">
				Owned drills: <div id="posiadaneExtrudery"><img src="/img/GUI/none.png"/></div>
				<br/>Possible upgrades:<br/>
				<span id="wiertlo"><img src="/img/wiertla/mechaniczne.png"/></span>
				<span id="wytapiarka"><img src="/img/wiertla/wytapiarka.png"/></span>
			</div>
		</div>
		<div id="menu">
			<span id="hp" style="color: lime"></span>
			<span id="predkosc" style="color: lime"></span>
			<span id="button" class="upgrade">Upgrade</span>
			<span id="button" class="wlec">Deploy</span>
			<span id="button" class="odlec">Undeploy</span>
			<span id="button" class="wydobywanie">Drill</span>
			<span id="button" class="logout">Logout</span>
		</div>

	</body>
</html>

