<!DOCTYPE html>
<html lang="pl">
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/styl.css' />
	    <script src='jquery.min.js'></script>
	    <script src='/js/def.js'></script>
	    <script src='/js/dane.js'></script>
	    <script src='/js/gra.js'></script>
	</head>
	<body>
		<canvas id="game"></canvas>
		<div id="menu">
			<div id="button">UPGRADE</div>
			<div id="button">UPGRADE</div>
			<div id="button">UPGRADE</div>
		</div>
	</body>
</html>

