<!DOCTYPE html>
<html lang="pl">
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/styl.css' />
	    <script src='jquery.min.js'></script>
	    <script src='/js/def.js'></script>
	    <script src='/js/dane.js'></script>
	    <script src='/js/gra.js'></script>
	</head>
	<body>
		<canvas id="game"></canvas>
		<div id="wybor">
			<span id="wybor1"><img src="img/gwiazda1.png"/></span>
			<span id="wybor2"><img src="img/gwiazda1.png"/></span>
			<span id="wybor3"><img src="img/gwiazda1.png"/></span>
			<span id="wybor4"><img src="img/gwiazda1.png"/></span>
		</div>
		<div id="upgrade">
			<div id="surowce">
			Posiadane surowce:
				<div id="zelazo">Żelazo: </div>
				<div id="wegiel">Węgiel: </div>
				<div id="pluton">Pluton: </div>
				<div id="aluminium">Aluminium: </div>
			</div>
			<div id="silniki">
			aktualny silnik: <div id="aktualnySilnik"></div>
				<div id="słaby spalinowy"></div>
				<div id="spalinowy"></div>
				<div id="impulsowy"></div>
				<div id="nadprzestrzenny"></div>
			</div>
			<div id="bronie">
				Posiadane bronie: <div id="posiadanaBron"></div>
				<div id="minigun"></div>
				<div id="laser"></div>
				<div id="gauss"></div>
				<div id="rocket"></div>
			</div>
			<div id="pancerze">
				Aktualny pancerz: <div id="aktualnyPancerz"></div>
				<div id="lekki"></div>
				<div id="ciezki"></div>
			</div>
			<div id="magazyny">
				Aktualny magazyn: <div id="aktualnyMagazyn"></div>
				<div id="maly"></div>
				<div id="sredni"></div>
				<div id="duzy"></div>
			</div>
			<div id="extrudery">
				Posiadane extrudery: <div id="posiadaneExtrudery"></div>
				<div id="wiertlo"></div>
				<div id="wytapiarka"></div>
			</div>
		</div>
		<div id="menu">
			<div id="button" class="upgrade">UPGRADE</div>
			<div id="button">UPGRADE</div>
			<div id="button">UPGRADE</div>
		</div>

	</body>
</html>

