<!DOCTYPE html>
<html lang="pl">
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/styl.css' />
	    <script src='jquery.min.js'></script>
	    <script src='/js/def.js'></script>
	    <script src='/js/dane.js'></script>
	    <script src='/js/gra.js'></script>
	</head>
	<body>
		<canvas id="game"></canvas>
		<div id="upgrade">
			<div id="surowce">
			Posiadane surowce:
				<div id="zelazo"></div>
				<div id="wegiel"></div>
				<div id="pluton"></div>
				<div id="aluminium"></div>
			</div>
			<div id="silniki">
			
			</div>
			<div id="bronie">
			</div>
			<div id="pancerze">
			</div>
			<div id="magazyny">
			</div>
			<div id="extrudery">
			</div>
		</div>
		<div id="menu">
			<div id="button" class="upgrade">UPGRADE</div>
			<div id="button">UPGRADE</div>
			<div id="button">UPGRADE</div>
		</div>

	</body>
</html>

