<!DOCTYPE html>
<html lang="pl">
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/styl.css' />
	    <script src='jquery.min.js'></script>
	    <script src='/js/def.js'></script>
	</head>
	<body>
		<canvas></canvas>
	</body>
</html>

