<html>
	<head>
		<title><%= title %></title>
	    <script src='jquery.min.js'></script>
	    <script src='/js/wybor.js'></script>
	</head>
	<body>
		<form action="/register" method="post">
			<div>
				<label>User:</label>
				<input type="text" name="username"/>
				<br/>
			</div>
			<div>
				<label>Password:</label>
				<input type="password" name="password"/>
			</div>
			<div>
				<label>Repeat password:</label>
				<input type="password" name="password1"/>
			</div>
			<div id="wybor">
				<span id="scouter"><img src="/img/statki/scouter.png"/></span>
				<span id="cruiser"><img src="/img/statki/cruiser.png"/></span>
				<span id="destroyer"><img src="/img/statki/destroyer.png"/></span>
				<input hidden type="text" id="ship" name="ship"/>
			</div>
			<div>
				<input type="submit" value="Register"/>
			</div>
		</form>
	</body>
</html>

